<div class="card w-100 mx-auto">
    <div class="card-body">
        <h3>Products List</h3>
        <div class="card-deck">
            {{#each products}}

            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{this.product}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text">
                        <h4 class="text-muted">{{this.price}}€</h4>
                    </p>
                    <a href={{ this.editUrl}} class="btn btn-primary btn-sm my-3">Edit this product</a>

                    <a href={{this.deleteUrl}} class="btn btn-primary btn-sm my-3">delete this product</a>

                    <a href="/" class="btn btn-primary btn-sm my-3">&#8592;&#32;Add more products</a>


                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>